# PlatformIO temporary files
.pio/
.cproject
.project
.settings/

# VS Code specific
.vscode/

# Build artifacts
build/
firmware.bin
firmware.elf
partitions.bin
bootloader.bin
*.o
*.a
*.so
*.lib
*.dll
*.exe
*.hex

# Backup files
*.bak
*.swo
*.swp
*~